In [1]:
import pandas as pd
import numpy as np

# Data Insight

In [2]:
df = pd.read_csv("D:/Github/Predicting-House-Rent-Using-ML/Output_Of_EDA.csv")

In [3]:
df.head()

,Unnamed: 0,BHK,Size,Floor Number,Total Floors,Area Type,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Rent
0,0,2,1320,-2.0,2.0,2,4,0,1,2,2,45000
1,1,2,800,1.0,3.0,2,4,1,1,1,2,20000
2,2,2,1000,1.0,3.0,2,4,1,1,1,2,17000
3,3,2,800,1.0,2.0,2,4,2,1,1,2,10000
4,4,2,850,1.0,2.0,1,4,2,0,1,2,7500

In [4]:
df.dtypes

Unnamed: 0             int64
BHK                    int64
Size                   int64
Floor Number         float64
Total Floors         float64
Area Type              int64
City                   int64
Furnishing Status      int64
Tenant Preferred       int64
Bathroom               int64
Point of Contact       int64
Rent                   int64
dtype: object

In [5]:
df['Total Floors'] = df['Total Floors'].apply(np.int64)

In [6]:
df.dtypes

Unnamed: 0             int64
BHK                    int64
Size                   int64
Floor Number         float64
Total Floors           int64
Area Type              int64
City                   int64
Furnishing Status      int64
Tenant Preferred       int64
Bathroom               int64
Point of Contact       int64
Rent                   int64
dtype: object

In [7]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

<h3> Since this is a regression problem I will be using the popular regression models to predict the rent

# Models

In [8]:
df.columns

Index(['BHK', 'Size', 'Floor Number', 'Total Floors', 'Area Type', 'City',
       'Furnishing Status', 'Tenant Preferred', 'Bathroom', 'Point of Contact',
       'Rent'],
      dtype='object')